[% INCLUDE header.tt %]

<h1>RSS Importer</h1>
This utility will import an RSS feed to your Facebook news feed.

<form action="/rss-importer" method="post">
RSS Feed URI: 
<input type="text" name="rss_uri">
<input type="submit">
</form>

[% INCLUDE footer.tt response = response %]
